@import url(https://fonts.google.com/specimen/Nunito+Sans=https://fonts.google.com/specimen/Work+Sans);

:root {
    --primary-color: #DDE2C6;
--secondary-color: #BBC5AA;
--accent-color: #A72608;
--accent2-color: #090C02;

--heading-font: Nunito, Sans;
--paragraph-font: Work, Sans;

--nav-background-color: #BBC5AA
--nav-link-color: #DDE2C6
--nav-hover-link-color: #A72608
--nav-hover-background-color: #DDE2C6

}

body {
    font-family: var(--paragraph font) ;
max-width: 960px;
padding: 20px ;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 20px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

