body {
    background-color:rgb(250, 247, 247);
    width:fit-content;
}

header {
    width: 650px;
    margin: auto;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color:black;
    text-align: center;
}

form {
    display: grid;
    justify-content: space-between;
    width: 650px
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    padding: 2rem;
    margin: 2rem;
}

legend {
    padding: 1rem;
}

label {
    text-align: left;
}

input[type="checkbox"] {
    width: 22px;
}